.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
apps/api/crossed-live-firebase-adminsdk-2upwl-5dd2a10c36.json
convert-ipuz.js
packages/crosswords/data