# https://app.supabase.com/project/sialrdtoaqrhvcojwojf/settings/api

# local
# copy this file into .env.local
# get values from supabase project and replace placeholders

# production
# https://vercel.com/crossed-ui-poc/crossed-turbo-admin/settings/environment-variables

NEXT_PUBLIC_SUPABASE_URL="Project URL"
NEXT_PUBLIC_SUPABASE_KEY="anon public Project API key"
NEXT_PUBLIC_API_BASE_URL=http://localhost:5001