# https://app.supabase.com/project/sialrdtoaqrhvcojwojf/settings/api
# https://console.firebase.google.com/project/crossed-live/settings/serviceaccounts/adminsdk

# local
# copy this file into .env
# get values from supabase project and replace placeholders
# get values from firebase project and replace placeholder

# production
# set values in railway dashboard
# https://railway.app/project/93224da2-c238-4c93-9c3a-212d5e67aa0e/service/2990c9d7-d047-442c-8be6-3e4c8c11f02c/variables

SUPABASE_JWT_SECRET="JWT Secret"
SUPABASE_SERVICE_ROLE_KEY="service_role secret api key"
SUPABASE_URL="Project URL"
FIREBASE_SERVICE_ACCOUNT="JSON.stringify(YOUR_FIREBASE_SERVICE_KEY_JSON)"
OPENAI_API_KEY="OPENAI API KEY"